.navbar {
  display: flex;
  gap: 20px;
  background: white;
  padding: 10px;
}

.navbar a {
  color: gray;
  text-decoration:none;
}

.container {
  display: flex;
  gap: 20px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
}

.todo {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

button {
  margin: 5px;
}

input, textarea {
  display: block;
  margin: 10px 0;
  padding: 5px;
  align-content:center;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  gap: 15px; /* Adds space between fields */
}

.contact-container input, 
.contact-container textarea {
  width: 100%;
  max-width: 400px; /* Prevents inputs from being too wide */
}

